<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="icePalaceStyle.css" rel="stylesheet" type="text/css">
		<link href="styleTemplate.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<main>
			<h1> Ice Palace </h1>
			<a href = "slideExperience.html">
				<img class = "rotate_rose_ccw" src="../Images/rose-stem-red.png">
			</a>
	        <a href="slideArtists.html">
	            <img class="rotate_rose" src="../Images/rose-stem-red.png">
	        </a>
		</main>
	</body>
</html>
