<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="styleTemplate.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<main>
			<div class = "grid-layout">
				<div class "item1">Home Page</div>
				<div class "item2"><a href = "http://www.sister-unns.com/"><img src = "../Images/Website_Home.png" style = "width:700px"; height = "500px"/></a></div>
				<div class "item3"><a href = "http://www.sister-unns.com/dedications.html"><img src = "../Images/Website_Dedication.png" style = "width:700px"; height = "500px"/></a></div>
				<div class "item4">Dedication Page</div>
			</div>
	        <br>
            <br>
            <br>
			<a href = "../index.html">
				<img class = "rotate_rose_ccw" src="../Images/rose-stem-red.png">
			</a>
            <a href="slideExperience.html">
                <img class="rotate_rose" src="../Images/rose-stem-red.png">
            </a>
		</main>
	</body>
</html>
