<!DOCTYPE html>
<html>
	<head>
		<link href="https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=Mukta&family=Nunito:ital,wght@1,600&display=swap" rel="stylesheet">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="styleTemplate.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<main>
			<div class = "grid-layout">
				<div class "item1"><img src = "../Images/Frank's_Experience.png" style = "width:700px"; height = "500px"/></div>
				<div class "item2">Frank's Experience</div>
				<div class "item3">Stephanie's Experience</div>
				<div class "item4"><img src = "../Images/stephs_experience.png" style = "width:700px"; height = "500px"/></div>
			</div>
            <br>
            <br>
            <br>
			<a href = "slideSisterUnns.html">
				<img class = "rotate_rose_ccw" src="../Images/rose-stem-red.png">
			</a>
            <a href="ice_palace.html">
                <img class="rotate_rose" src="../Images/rose-stem-red.png">
            </a>
		</main>
	</body>
</html>
