<!DOCTYPE html>
<html>
	<head>
		<link href="styleTemplate.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<main>
			<div class = "grid-layout">
				<div class "item1"><img src = "../Images/Frank's_Experience.png" style = "width:700px"; height = "500px"/></div>
				<div class "item2">Frank's Experience</div>
				<div class "item3">Stephanie's Experience</div>
				<div class "item4"><img src = "../Images/stephs_experience.png" style = "width:700px"; height = "500px"/></div>
			</div>
		</main>

	</body>
</html>
